/* CSS Document */
.revolution_screen .fixed_elem{margin:0 !important}
body{
	margin:0 auto;
}
#wrapper{
	width: 1024px;
	height: 500px;
	margin: 0 auto;
}
#header{
	display:block;
	width:100%;
	height:30px;
	border:1px solid #ccc;
	position:relative;
}
#logo{
	position:absolute;
	text-align:center;
	top:0px;
	left:0px;
	width:200px;
	height:30px;
	border-right:1px solid #ccc;
}
#footer{
	display:block;
	width:100%;
	height:100px;
	border:1px solid #ccc;
	margin-top:20px;
}
#content{
	display:block;
	width:100%;
	min-height:466px;
	background-color:white;
}
#banner{
	display:inline-block;
	width:100%;
	height:300px;
}
#banner img{
	width:100%;
	height:100%;
}
#popular-competition{
	display:inline-block;
	width:100%;
	text-align:center;
	min-height:300px;
}	
#popular-competition .item_pc{
	float:left;
	width:243px;
	height:150px;
	border:1px solid #ccc;
	margin:5px;
}
#job-category{
	display:inline-block;
	width:100%;
	text-align:center;
	min-height:300px;
}
#our-jobs{
	float:left;
	width:770px;
	min-height:500px;
	border:1px solid #ccc;
}
#home_category{
	float:right;
	width:240px;
	min-height:400px;
	border:1px solid #ccc;
}
#home_category a{
	float:left;
	width:100%;
}
#our-jobs .oj_item{
	float:left;
	width:98%;
	height:50px;
	border:1px solid #ccc;
	margin:5px;
}
.view-all-c{
	float:right;
	width:100%;
}
.view-all-j{
	float:right;
	width:100%;
}
#jobs_left{
	display: inline-block;
	width:240px;
	min-height:500px;
	border:1px solid #ccc;
}
#jobs_right{
	margin-left:5px;
	display: inline-block;
	width:776px;
	min-height:500px;
}
#jobs_left .jl_box{
	float:left;
	width: 95%;
	border:1px solid #ccc;
	min-height: 100px;
	margin: 5px;

}
.jr_form_search{
	float: left;
	width: 100%;
	height: 56px;
	background-color: rgb(236, 185, 185);
	margin-top: 10px;
}
#jobs_left .jl_box h2{
	float:left;
	width:100%;
}
.hlb_list_cate{
	float:left;
	width:100%;
}
.hlb_list_cate a{
	float: left;
	width:100%;
}
#contests_content{
	display:inline-block;
	width:100%;
}
.item_contest{
	float:left;
	width:243px;
	height:250px;
	border:1px solid #ccc;
	margin:5px;
	overflow: hidden;
}
.item_contest .ic_img{
	float:left;
	width:100%;
	height:200px;
	overflow: hidden;
}
.item_contest .ic_img img{
	width:100%;
}
.hlb_option_job_type{
	float:left;
	margin:5px;
}
.hojt_item{
	float:left;
	width:100%;
}
.hlb_option_job_status{
	float:left;
	width:100%;
}
.hojs_item{
	float:left;
	width:100%;
}
.hojl_i_i{
	float:left;
	width:100%;
}
.jrlj_item{
	float:left;
	width:98%;
	height:92px;
	border-bottom:1px solid #ccc;
	margin:5px;
	position:relative;
}
.jrlji_proposal{
	position:absolute;
	top:10px;
	right:0px;
	width:100px;
	height:20px;
	background-color:black;
	color:white;
	padding:3px;
	text-decoration: none;
}
.jrlj_item .jrlji_title{
	float:left;
	width:100%;
	font-size:20px;
	color:#4774b7;
	text-decoration:none;
}
.jrlj_item .jrlji_info{
	float:left;
	width:100%;
	height:30px;
	margin-top: 23px;
}
.jrlji_info img{
	float:left;
	width:30px;
	height:30px;
	border-radius:50%;
}
.jrlji_info .name{
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}
.jrlji_info .time{
	float: left;
	margin-top: 6px;
	margin-left: 30px;
}
.jrlji_info .remote{
	float: left;
	margin-top: 6px;
	margin-left: 30px;
}
.jrlji_info .proposals{
	float: left;
	margin-top: 6px;
	margin-left: 30px;
}
#job-detail{
	display:inline-block;
}
#job-detail-left{
	float:left;
	width:758px;
	min-height:600px;
	border:1px solid #ccc;
}
#job-detail-right{
	float:right;
	width:262px;
	min-height:600px;
	border:1px solid #ccc;
}
#post_job_link{
	float:right;
	color:black;
	margin-right:20px;
}
#form-post-job{
	display:inline-block;
	width:100%;
}
#form-post-contest{
	display:inline-block;
	width:100%;
}
#profile_content{
	display:inline-block;
	width:100%;
}
#pf_basic_info{
	float:left;
	width:100%;
	border:1px solid #ccc;
	height:200px;
}
.pfbi_avatar{
	float:left;
	width:200px;
	height:150px;
	border:1px solid #ccc;
	margin:10px;
}
.pfbi_avatar img{
	width:100%;
	height:100%;
}
.pfbi_info{
	float:left;
	width:575px;
	height:100%;
	border-right:1px solid #ccc;
}
.pfbi_info a {
	float:left;
	width:100%;
}
.pfbi_info span{
	float:left;
	width:100%;
}
#pf_basic_content{
	float:left;
	width:100%;
}
.pfbc_category{
	float:left;
	width:250px;
	min-height:156px;
	border:1px solid #ccc;
	margin-top:20px;
}
.pfbc_category .item-01{
	float:left;
	width:100%;
	height:25px;
	border-bottom:1px solid #ccc;
}
.pfbc_content{
	float: left;
	width: 760px;
	min-height: 340px;
	border-right: 1px solid #ccc;
	padding:5px;
}
.pfbc_content h3{
	float:left;
}
.pfbc_content span{
	float:left;
	width:100%;
}
.static-01{
	float:left;
	width:100%;
	height:250px;
	background-color:#ccc;
	margin-top:20px;
}
.static-02{
	float:left;
	width:100%;
	min-height:250px;
	margin-top:20px;
}
#job-detail-left .email_marketing{
	float:left;
	width:100%;
	cursor:pointer;
	font-size:25px;
	margin:10px;
}
#job-detail-left .posted{
	float:left;
	width:100%;
	height:30px;
	margin:10px;
}
#job-detail-left .posted a{
	float:left;
}
#job-detail-left .posted h3{
	float:left;
	margin-top:3px;
	font-size:12px;
	margin-left:5px;
	margin-right:5px;
}
#job-detail-left .addin{
	float:left;
	width:98%;
	margin:10px;
	height:50px;
	border:1px solid #ccc;
}
#job-detail-left .addin span{
	float:left;
	margin:20px;
}
#job-detail-left .addin  input{
	float:right;
	margin:10px;
}
.info-01{
	float:left;
}
.p-0{
	float:left;
	width:100%;
}
.p-0 .p-01{
	float:left;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	margin:10px;
	border-radius:50%;
}
.p-0 span{
	float:left;
	margin-top:22px;
}
.p-like-share-face{
	float:left;
	width:100%;
}
.p-like-share-face a{
	float:left;
	margin:10px;
}
.ffi_remove{
	cursor:pointer;
}
#contest_detail_view{
	display:inline-block;
	width:100%;
	min-height:500px;
}
#contest_detail_view .banner_contest{
	float:left;
	width:100%;
	height:300px;
	position:relative;
}
.banner_contest img{
	width:100%;
	height:100%;
}
.avatar{
	position: absolute;
	bottom: -45px;
	left: 43px;
	width: 160px;
	height: 160px;
	border: 1px solid #ccc;
}
.avatar-content{
	float:left;
	position:relative;
	width:100%;
	height:100%;
}
#edit-event-contest-avatar{
	position: absolute;
	bottom: -1px;
	right: 2px;
}
#edit-event-contest-banner{
	position:absolute;
	top:14px;
	right:0px;
}
.avatar-content img{
	position:absolute;
	width:100%;
	height:100%;
} 
.title_contest{
	position: absolute;
	left: 223px;
	bottom: 18px;
	width: 300px;
	font-size: 20px;
	text-align: center;
}
.c2li_header{
	float:left;
	margin-left:5px;
	width:96%;
	height:30px;
	border-bottom:1px solid #ccc;
}
.c2li_header h3{
	float: left;
	color: black;
	font-size: 15px;
	margin-top: 5px;
	margin-left: 5px;
}
.like_share{
	position:absolute;
	right:0px;
	bottom:0px;
	width:100px;
	height:30px;
}
.like_share a{
	float:left;
	margin:5px;
	color:white;
}
.list_option_su{
	position:absolute;
	left:300px;
	bottom:-37px;
	width:500px;
	height:30px;
}
.list_option_su .los_item{
	float: left;
	border-right: 1px solid #ccc;
	cursor: pointer;
	margin-left:10px;
	min-width: 100px;
	height: 30px;
}
.submitssion{
	position:absolute;
	right:0px;
	bottom:-39px;
	width:100px;
	height:30px;
	background-color:green;
	text-align:center;
	color:black;
}
.content_contest{
	float:left;
	width:100%;
	min-height:500px;
	margin-top:85px;
}
.c2_left{
	float:left;
	width:300px;
}
.c2_l_item{
	float:left;
	width:100%;
	min-height:300px;
	border:1px solid #ccc;
	margin-bottom: 20px;
}
.c2_right{
	float:left;
	width:703px;
	min-height:100px;
	margin-left:20px;
}
.c2_right .post_comment_contest{
	float:left;
	width:100%;
	min-height:100px;
	border:1px solid #ccc;
}
.pcc_header{
	float:left;
	width:100%;
	height:30px;
	border-bottom:1px solid black;
}
.description-01{
	float: left;
	width: 97%;
	margin-left: 10px;
	text-align: justify;
}
.proposal_content{
	float: left;
	width: 97%;
	height: 500px;
	background-color: black;
	margin-left: 10px;
	margin-bottom:10px;
}
.pcc_content{
	float:left;
	width:100%;
	height:40px;
}
.pcc_content textarea{
	float:left;
	width:99%;
	height:100%;
}
.pcc_image_content{
	float: left;
	width: 100%;
	margin-top: 5px;
	background-color: red;
}
.pcc_buttom{
	float:left;
	width:100%;
	height:30px;
	margin-top: 12px;
}
.tic-item-img{
	float:left;
	width:150px;
	height:100px;
}
.tic-item-img img{
	width:100%;
	height:100%;
}
.list_comment_contest{
	float:left;
	width:100%;
}
.l2c_item{
	float:left;
	border:1px solid #ccc;
	background-color:red;
	margin-top:10px;
	min-height:100px;
	width:100%;
}
.l2ci_info_user{
	float: left;
	width: 98%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin: 7px;
}
.l2ci_info_user img{
	float:left;
	width:40px;
	height:40px;
	margin:2px;
}
.l2ci_info_user a{
	float:left;
	width:80%;
}
.l2ci_info_user span{
	float:left;
	width:80%;
}
.l2ci_description{
	float: left;
	width: 98%;
	margin: 10px;
}
.l2ci_description span{
	color:black;
	font-size:14px;
}
.l2ci_image{
	float: left;
	width: 98%;
	margin: 10px;
}
.l2ci_image img{
	float: left;
	width: 224px;
	height: 150px;
	margin-right: 5px;
}
.l2ci_option{
	float:left;
	width:98%;
	height:25px;
	background-color:rgb(221, 190, 190);
	margin-left:10px;
}
.l2ci_option a{
	float:left;
	margin-right:5px;
}
.option_comment_contest{
	float:left;
	width:98%;
	margin:10px;
	display:none;
}
.l2ci_comment{
	float:left;
	width:98%;
	margin:10px;
}
.l2ci_comment .l2ci_item{
	float:left;
	width:84%;
	margin-top:5px;
	margin-left:50px;
	height:50px;
	border-bottom:1px solid #ccc;
}
.l2ci_item img{
	float:left;
	width:50px;
	height:50px;
}
.l2ci_item_info{
	float:left;
	width:90%;
	min-height:50px;
}
.l2ci_item_info h2{
	float:left;
	width:100%;
	font-size:14px;
}
.l2ci_item_info span{
	float:left;
	width:100%;
	margin-top:-10px;
	font-size:12px;
}
div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}
div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.c2_r_bief{
	float:left;
	width:100%;
}
.c2_r_bief h2{
	float:left;
	width:100%;
	font-size:17px;
}
.c2_r_bief span{
	float:left;
	width:100%;
	font-size:14px;
}
.proposal_form{
	float:left;
	width:100%;
	width:98%;
	margin:10px;
}
.proposal_form h3{
	float:left;
	width:100%;
}
.pf_form{
	float:left;
	width:100%;
	height:400px;
}
.proposal_comment{
	float:left;
	width:98%;
	margin:10px;
	height:200px;
	background-color:black;
}
.pf_form label{
	float:left;
	width:100%;
}
#des_proposal{
	float:left;
	width:98%;
	height:100px;
	position:relative;
}
.attach_files{
	float:left;
	width:100%;
}
.item_proposal{
	float:left;
	width:100%;
}
.item_proposal table{
	float:left;
	width:100%;
}
.item{
	width:70%;
}
.amount{
	width:20%;
}
.item_proposal th{
	text-align:left;
}
.add_item{
	float:left;
	width:100%;
}
.add_item .add_item_span{
	float:left;
	color:blue;
	cursor:pointer;
}
.job_proposal_file_content{
	float:left;
	width:100%;
}
#add_item_hourlie{
	float:left;
	width:100%;
	color:blue;
	cursor:pointer;
}
.ho_left{
	float:left;
	width:200px;
	min-height:500px;
	margin-top:20px;
}
#hourlies_content{
	display:inline-block;
}
.block_search{
	float:left;
	width:100%;
}
.block_search input{
	float:left;
	padding-left:5px;
	width:98%;
	height:30px;
	border:1px solid #ccc;
}
.ho_right{
	float:left;
	width:824px;
	min-height:500px;
}
#hr_header{
	float:left;
	width:98%;
	margin:20px;
}
#hr_header h1{
	float:left;
	margin-top:0px;
}
#hr_header span{
	float: left;
	margin-top: 14px;
	margin-left: 20px;
}
#hr_sort{
	float:left;
	width: 98%;
	height: 30px;
	background-color: black;
	margin-left: 20px;
	margin-top: -33px;
}
#hr_conent{
	float:left;
	width:98%;
	margin-left:10px;
	margin-top:0px;
}
.hrc_item{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	min-height: 30px;
	margin-left: 10px;
}
.co_po_item{
	float:left;
	width:165px;
	height:150px;
	background-color:black;
	margin:5px;
}