extends ../../../../layout_font_end

block content
	#form-login
		form(method="post", action="/login", id="login-form", enctype="multipart/form-data;utf-8")
			p
				span User name:
				input(type="text", tabindex="1", name="lo-email-tf", id="lo-email-tf")
			p
				span Password:
				input(type="password", tabindex="3", name="lo-pass-tf", id="lo-pass-tf")
			p
				a(onclick="checkLoginState();") Login with facebook
				#status
			p
				input(type="submit", value="LOGIN", class="lbs_submit")
block script
	script(src='/javascripts/form-validators/loginValidator.js')
	script(src='/javascripts/views/login.js')