.transa
	table(class="tableTran")
		thead
			tr
				th Stt
				th Date
				th(class="naTranc") Transaction
				th Amount
				th Status
		tbody
			tr
				td 0
				td 28/12/14
				td Get Job Done Logo Competition
				td 10.000.000
				td Completed
block scripts
	script(src='/javascripts/views/profile_contest_list.js')