footer
	.pageMtn.pgMtnFt
		.container
			.paner
				img(src="images/partner.jpg")
	.staft
		.container
			ul(class="statis")
				li
					h5 35,999
					p Freelancer
				li
					h5 35,999,888
					p Job listed
				li
					h5 35,999,999
					p Money Received
	.ctcFt
		.container
			.ltFt
				h1(class="logoft")
					a(href="")
						| Get
						span Job
						| Done
				.telus
					p Call us at
					span +84 8888 8888
				.mailus
					p Email
					span getjobdone@gmail.com
				.visitus
					h5 Visit us at
					.lstsoci
						a(href="", class="icoFbFt")
						a(href="", class="icoGgFt")
						a(href="", class="icoTwFt")
						a(href="", class="icoInFt")
			.rtFt
				ul(class="mineGj")
					-	for(var i=0; i<3; i++)
							li(class="cateMine")
								ul(class="oneMineGj")
									li
										h4 GetJobDone
									li
										a(href="") Project
									li
										a(href="") Contests
									li
										a(href="") Services
									li
										a(href="") Fantero
									li
										a(href="") Forum
	.ftBt
		.container
			.ctnFtBt
				a(href="") Privacy
				a(href="") Terms and Conditions
				a(href="") Copyright Infringement
				a(href="") Code of Conduct
		.chatwt
			p Chat with us