header
	#wrapper
		h1(class="logo")
			a(href="/") Get
				span Job
				| Done
		nav
			ul(id="nav")
				li
					a(href="#", class="lstNava") For Clients
					.subNav
						ul(class="ctnSub")
							li
								a(href="/post-a-job") Post A Job
							li
								a(href="/freelancer-services") Browse Freelancers
							li
								a(href="/post-competition") Post A Competition
				li
					a(href="#", class="lstNavb") For Freelancers
					.subNav
						ul(class="ctnSub")
							li
								a(href="/job-database") Browse Jobs
							li
								a(href="/promote-your-services") Promote Your Services
				li
					a(href="/how-it-work", class="lstNavc") How It Work
		.navLogReg
			if(!user)
				a(href="/login", class="login") login
				a(href="/register", class="reg") sign up
			else
				a(href="/logout", class="reg") logout
		.lang
			a(href="", class="langEn activeLang")
			a(href="", class="langVn")