header
	#wrapper
		h1(class="logo")
			a(href="") Get
				span Job
				| Done
		nav
			ul(id="nav")
				li
					a(href="#", class="lstNava") For Clients
					.subNav
						ul(class="ctnSub")
							li
								a(href="") Post Job
							li
								a(href="") Job Contest
							li
								a(href="") VIP Client
							li
								a(href="") Potential Staff
				li
					a(href="#", class="lstNavb") For Freelancers
					.subNav
						ul(class="ctnSub")
							li
								a(href="") Post Job
							li
								a(href="") Job Contest
							li
								a(href="") VIP Client
							li
								a(href="") Potential Staff
				li
					a(href="#", class="lstNavc") For Freelancers
					.subNav
						ul(class="ctnSub")
							li
								a(href="") Post Job
							li
								a(href="") Job Contest
							li
								a(href="") VIP Client
							li
								a(href="") Potential Staff
		.navLogReg
			a(href="", class="login") login
			a(href="", class="reg") sign up
		.lang
			a(href="", class="langEn activeLang")
			a(href="", class="langVn")