#header
	a(href="/", id="logo") Get job done
	a(href="/jobs-post", id="post_job_link") POST JOB
	a(href="/contest-post", id="post_job_link") POST CONTEST
	a(href="/profile", id="post_job_link") Profile
	if(!user)
		a(href="/register", id="post_job_link") Register
		a(href="/login", id="post_job_link") Login
	else
		a(href="/logout", id="post_job_link") Logout