header
	#wrapper
		h1(class="logo")
			a(href="/") Get
				span Job
				| Done
		nav
			ul(id="nav")
				li
					a(href="#", class="lstNava") For Clients
					.subNav
						ul(class="ctnSub")
							li
								a(href="/freelancer-services") Browse Freelancers
							li
								a(href="/post-a-job") Post A Job
							li
								a(href="/post-competition") Post A Competition
				li
					a(href="#", class="lstNavb") For Freelancers
					.subNav
						ul(class="ctnSub")
							li
								a(href="/job-database") Browse Jobs
							li
								a(href="/promote-your-services") Promote Your Services
				li
					a(href="/how-it-work", class="lstNavc") How It Work
		.navLogReg
			if(!user)
				.notLog
					a(href="#inlineLogin", class="login ctnIn cboxElement") login
					a(href="#inlineSup", class="reg ctnIn cboxElement") sign up
			if(user)
				.usLog
					ul(class="lst_usLog")
						li
							a(class="naUsLogTp", href="/profile?value=null&_id="+user._id+"")
								span(class="thumbUsLog")
									if(typeof user.avatar === 'object')
										img(src='/upload/profile_avatar?type=resize&width=100&height=100&name='+user.avatar.public_id+'.'+user.avatar.format+'')
									else
										img(src=""+user.avatar+"")
								span(class="naNavTp fntMd")= user.last_name +" "+user.first_name
						li
							a(href="")
								span(class="nofChat") 
						li
							a(href="")
								span(class="nofIn")
						li
							a(href="#")
								span(class="dropIn")
							.subNav
								ul(class="ctnSub")
									li
										a(href="/logout") Log Out
									li
										a(href="/profile?value=null&_id="+user._id+"") My Profile
									li
										a(href="") Contest List
		.lang
			a(href="", class="langEn activeLang")
			a(href="", class="langVn")
	.boxLoginSuccessfull
		a(href="#sgnScc", class="ctnIn registed_box", style="display:none") login
		#sgnScc.ctnSupScc
			h2(class="titleMtn clorg fntLt") Sign Up Successful
			p Thank you for your participation.
				br
				| We will send you an email shortly for confirmation.
	.boxWelcome
		a(href="#inlineWelcome", class="ctnIn show_box_welcome_login") ---
		#inlineWelcome.ctnSup.npad
			h4(class="fntBd titLbNa") Duong Gia Hai
			.ctnLbNa
				span(class="thumbLbNa")
					img(src="images/avaDts.jpg")
				span(style="margin-left: 186px;margin-top: 31px;display: inline-block;")
					img(src="images/loader.gif")
	.boxSup
		a(href="#inlineBonusInfoUser", class="ctnIn show_box_bonus_info_user") ---
		#inlineBonusInfoUser.ctnSup
			form(class="fmSup", method="post", action="/storeUserUpdateFacebook", id="register_update_face_form", enctype="multipart/form-data;utf-8")
				.supFb
					h2(class="titleMtn")
					p  Update info to continue with page!
					p(class="clGrey") Sign up with Facebook and discover what your friend are doing
					.fbGetjobdone
					span(class="lineSup")
						em Or
				fieldset(class="gridSup")
					label Username
					input(class="ipSup", tabindex="3", name="reg-user-name-tf", id="reg-user-name-tf")
					label(class="errSup", id="reg-user-name-cf", style="display:none") Enter your username
				fieldset(class="gridSup")
					label Email
					input(class="ipSup", tabindex="4", name="reg-email-tf", id="reg-email-tf")
					label(class="errSup", id="reg-email-cf", style="display:none") Enter your email
				fieldset(class="gridSup")
					label Password
					input(type="password", class="ipSup", tabindex="5", name="reg-pass-tf", id="reg-pass-tf")
					label(class="errSup", id="reg-pass-cf", style="display:none") Enter your password
				.ckService
					h5 What are you looking for?
					ul(class="lst_ckSup")
						li(class="ck_sup")
							input(type="radio", id="buySer", name="f_type[]", value="1")
							label(for="buySer") Buy Services
						li(class="ck_sup")
							input(type="radio", id="selSer", name="f_type[]", value="2", checked)
							label(for="selSer") Sell Services
						li(class="ck_sup", style="display:none")
							input(type="radio", id="both_ckSup", name="f_type[]", value="0")
							label(for="both_ckSup") Both
				fieldset
					button(type="submit", class="btnsubmit", id="rp-bt-action-form-update") Sign up
	.boxLogin
		#inlineLogin.ctnSup
			form(class="fmSup", method="post",action="/login", id="login-form", enctype="multipart/form-data;utf-8")
				.supFb
					.sf_loading
					h2(class="titleMtn clorg", style="display:none") Please login
					p Don’t have account? Sign up
					div(class="btnSupFb", onclick="checkLoginState();") Login with facebook
					span(class="lineSup")
						em Or
				fieldset(class="gridSup")
					label Email
					input(class="ipSup",  tabindex="1", name="lo-email-tf", id="lo-email-tf")
					label(class="errSup", id="lo-email-cf", style="display:none") Enter your email
				fieldset(class="gridSup")
					label Password
					input(class="ipSup", tabindex="2", name="lo-pass-tf", id="lo-pass-tf", type="password")
					label(class="errSup", id="lo-pass-cf", style="display:none") Enter your password
				.ckService
					ul(class="lst_ckSup")
						li(class="ck_sup nmag")
							input(type="checkbox", id="remem", name="ckSup")
							label(for="remem") Remember me
						li(class="ck_sup nmag pullFlt_right")
							a(class="fget_pass", href="") Forgot password
				.fieldset
					button(type="submit", class="btnsubmit") Login
	.boxSup
		#inlineSup.ctnSup
			form(class="fmSup", method="post", action="/storeUser", id="register_form", enctype="multipart/form-data;utf-8")
				.supFb
					.sf_loading
					h2(class="titleMtn")
					p  Already have an account? Login
					p(class="clGrey") Sign up with Facebook and discover what your friend are doing
					div(class="btnSupFb", onclick="checkLoginState();") Login with facebook
					.fbGetjobdone
					span(class="lineSup")
						em Or
				fieldset(class="gridSup")
					label First Name
					input(class="ipSup", tabindex="1", name="reg-first-name-tf", id="reg-first-name-tf")
					label(class="errSup", id="reg-first-name-cf", style="display:none") Enter your first name
				fieldset(class="gridSup")
					label Last Name
					input(class="ipSup", tabindex="2", name="reg-last-name-tf", id="reg-last-name-tf")
					label(class="errSup", id="reg-last-name-cf", style="display:none") Enter your last name
				fieldset(class="gridSup")
					label Username
					input(class="ipSup", tabindex="3", name="reg-user-name-su-tf", id="reg-user-name-su-tf")
					label(class="errSup", id="reg-user-name-su-cf", style="display:none") Enter your username
				fieldset(class="gridSup")
					label Email
					input(class="ipSup", tabindex="4", name="reg-email-tf", id="reg-email-tf")
					label(class="errSup", id="reg-email-cf", style="display:none") Enter your email
				fieldset(class="gridSup")
					label Password
					input(type="password", class="ipSup", tabindex="5", name="reg-pass-tf", id="reg-pass-tf")
					label(class="errSup", id="reg-pass-cf", style="display:none") Enter your password
				fieldset(class="gridSup", style="display:none")
					label Location
					input(class="ipSup", tabindex="6", name="reg-location-tf", id="reg-location-tf")
					.form_register_location_au(style="display:none")
						-	for(var i=0;i<resLocation.length;i++)
								input(type="hidden", class="item_location", value=""+resLocation[i].lo_name+"")
				.ckService
					h5 What are you looking for?
					ul(class="lst_ckSup")
						li(class="ck_sup")
							input(type="radio", id="buySer", name="f_type", value="1")
							label(for="buySer") Buy Services
						li(class="ck_sup")
							input(type="radio", id="selSer", name="f_type", value="2", checked)
							label(for="selSer") Sell Services
						li(class="ck_sup", style="display:none")
							input(type="radio", id="both_ckSup", name="f_type", value="0")
							label(for="both_ckSup") Both
				fieldset
					button(type="submit", class="btnsubmit", id="rp-bt-action-form") Sign up
block script
	script(src='/javascripts/form-validators/loginValidator.js')
	script(src='/javascripts/views/login.js')
	script(src='/javascripts/form-validators/registerValidator.js')
	script(src='/javascripts/form-validators/faceUpdateValidator.js')
	script(src='/javascripts/views/register.js')
	script(src='/javascripts/views/all.js')