.budget_group
	label Minimum bid: 
	span(class="sum_title")= cu_title
	input(type="text", value="10", name="min_sum", id="min_sum")
	span(class="min_sum_help_err")
.budget_group
	label Maximum bid: 
	span(class="sum_title")= cu_title
	input(type="text", name="max_sum", id="max_sum")
	span(class="max_sum_help_err")