doctype 5
html 
	head
	- if (typeof(title) == 'undefined')
		title Admin Pro
	- else 
		title= title
	// include default stylesheets and any view stylesheets
	link(rel='stylesheet', href='/css/plugin.css')
	link(rel='stylesheet', href='/css/bxslider.css')
	link(rel='stylesheet', href='/css/style.css')
	
	script(src='/vendor/jquery-1.9.1.min.js')
	script(src='/vendor/jquery-ui.min-1.8.12.js')
	
	script(src='/js/plugin.js')
	script(src='/js/common.js')
	script(src='/js/jquery.bxslider.min.js')
	script(src='/js/fontsmoothie.min.js')
body
	header
		#wrapper
			h1(class="logo")
				a(href="") Get
					span Job
					| Done
			nav
				ul(id="nav")
					li
						a(href="#", class="lstNava") For Clients
						.subNav
							ul(class="ctnSub")
								li
									a(href="") Post Job
								li
									a(href="") Job Contest
								li
									a(href="") VIP Client
								li
									a(href="") Potential Staff
					li
						a(href="#", class="lstNavb") For Freelancers
						.subNav
							ul(class="ctnSub")
								li
									a(href="") Post Job
								li
									a(href="") Job Contest
								li
									a(href="") VIP Client
								li
									a(href="") Potential Staff
					li
						a(href="#", class="lstNavc") For Freelancers
						.subNav
							ul(class="ctnSub")
								li
									a(href="") Post Job
								li
									a(href="") Job Contest
								li
									a(href="") VIP Client
								li
									a(href="") Potential Staff
			.navLogReg
				a(href="", class="login") login
				a(href="", class="reg") sign up
			.lang
				a(href="", class="langEn activeLang")
				a(href="", class="langVn")
				
	.main
		.page
			ul(class="bxslider")
				li
					img(src="images/banner1.jpg", title="Find your job")
				li
					img(src="images/banner2.jpg", title="Start getting")
				li
					img(src="images/banner3.jpg", title="Over 12 million")
			.search
				input(class="ipSch", type="text", placeholder="Ex: I need a professional start up business plan written")
				input(class="btnSch", type="submit", value="post a job")
		.pageMtn
			.container
				.ctnStp
					h2(class="titleMtn") 3 EASY STEPS TO GET YOUR JOB DONE
					.inStp
						a(href="#")
							span(class="thumbStpOne")
							span TELL US WHAT YOU NEED
						a(href="#")
							span(class="thumbStpTwo")
							span WE SEND IT TO CURATED EXPERTS
						a(href="#")
							span(class="thumbStpThree")
							span JOB DONE!
		.container
			h2(class="titleMtn") Popular competition
			ul(class="popu")
				-	for(var i=0; i<8; i++)
						li
							.ctnPopu
								.arThumb
									a(href="", class="thumbPopu")
										img(src="images/thumb.jpg", alt="Web developer")
									.hvCatePopu
										a(href="") Responsibilities:Primarily responsible for web development projects. Design, coding and testing documentation. What you ca
								.txtCatePopu
									.lfCtePpu
										a(href="", class="titCatePopu") Web developer
										p $1000 USD
									.rtCtePpu
										p GJD
			.vMore
				a(href="", class="btnmore") View more
		.container
			h2(class="titleMtn") Our job database
			.lfJobData
				h3(class="titleLtData") Most popular job in Art & Creative Design
				-	for(var i=0; i<4; i++)
						.ctn_ltData
							.avaJbData
								img(src="images/avaPst.jpg")
							.txtpst
								h4
									a(class="titPst coJob", href="") Art Director
								p Oxygen Studio Designs Pte Ltd
								ul(class="lstPst")
									li
										p Min 5 years agency experience.
									li
										p Strong conceptual thinking – both visual and interactive.
									li
										p Salary will commensurate with education and experience.
								p 
									| Skill:
									span Creativity, Drawing, HTML
							.pcePst
								p(class="mainPce") $18,000,000 VND
								p SING, VN, INDO
							.dtPst
								p 96 Proposal
								p 3 days ago
				.jMore
					span 1160 more jobs to discover
					a(class="btnmore btnjMore", href="") view all
			.rtJobData
				h3(class="titleRtData") CATEGORIES
				#scrolbr
					.scrollbar
						.track
							.thumb
								.end
					.arRtData.overview
						ul(class="ctnRtData overview")
							-	for(var i=0;i<7;i++)
									li
										a(href="")
											| Sales
											span (968)
							li(class="actRtCate")
								a(href="")
									| Sales
									span (968)
							-	for(var i=0;i<10;i++)
									li
										a(href="")
											| Sales
											span (968)
		.container
			h2(class="titleMtn") Freelancer Listing
			.cateFlc
				.tpFlc
					label(class="lbFlc") Categories:
					select(class="slcFlc default-usage-select")
						option(class="fstOpFlc") All (13,789)
						option Web Development(5,018)
						option Video, Photo & Audio(4,424)
						option Sales & Marketing(3,974)
						option Business Support(2,816)
						option Writing & Translation(2,665)
						option Social media(1,622)
				.ctnFlc
					ul(class="lstFlc")
						-	for(var i=0; i<10; i++)
								li
									p(class="thumbFlc")
										img(src="images/thjb.jpg")
									.hvFlc
										a(href="")
											p(class="avaFlc")
												img(src="images/thumb2.jpg")
											h5 Richard Max
											p I design your logo with beautiful images and ...
											span 9,000,000 VND
				.vMore
					a(href="", class="btnmore") View more
		.container
			h2(class="titleMtn") 10,000+ businesses have already said hello!
			.cnPle
				-	for(var i=0; i<3; i++)
						.lstPle
							label(class="avaPle")
								img(src="images/thumb4.jpg")
							h5 Andrew Garcia
							span CEO of Cocacola Inc
							p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							a(href="", class="btnmore btnPmore") view all
	footer
		.pageMtn.pgMtnFt
			.container
				.paner
					img(src="images/partner.jpg")
		.staft
			.container
				ul(class="statis")
					li
						h5 35,999
						p Freelancer
					li
						h5 35,999,888
						p Job listed
					li
						h5 35,999,999
						p Money Received
		.ctcFt
			.container
				.ltFt
					h1(class="logoft")
						a(href="")
							| Get
							span Job
							| Done
					.telus
						p Call us at
						span +84 8888 8888
					.mailus
						p Email
						span getjobdone@gmail.com
					.visitus
						h5 Visit us at
						.lstsoci
							a(href="", class="icoFbFt")
							a(href="", class="icoGgFt")
							a(href="", class="icoTwFt")
							a(href="", class="icoInFt")
				.rtFt
					ul(class="mineGj")
						-	for(var i=0; i<3; i++)
								li(class="cateMine")
									ul(class="oneMineGj")
										li
											h4 GetJobDone
										li
											a(href="") Project
										li
											a(href="") Contests
										li
											a(href="") Services
										li
											a(href="") Fantero
										li
											a(href="") Forum
		.ftBt
			.container
				.ctnFtBt
					a(href="") Privacy
					a(href="") Terms and Conditions
					a(href="") Copyright Infringement
					a(href="") Code of Conduct
			.chatwt
				p Chat with us