doctype 5
html 
	head
	- if (typeof(title) == 'undefined')
		title Admin Pro
	- else 
		title= title
	// include default stylesheets and any view stylesheets
	link(rel='stylesheet', href='/css/plugin.css')
	link(rel='stylesheet', href='/css/bxslider.css')
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/jquery-ui.css')
	link(rel='stylesheet', href='/css/style.css')
	
	script(src='/js/jquery.js')
	script(src='/js/jquery-ui.js')
	
	script(src='/vendor/jStorage-master/jstorage.js')
	script(src='/vendor/jStorage-master/cookie.js')
	script(src='/vendor/jquery.form.js')
	
	script(src='/js/plugin.js')
	script(src='/js/common.js')
	script(src='/js/jquery.bxslider.min.js')
	script(src='/js/fontsmoothie.min.js')
body
	include include/header
				
	#main
		block content
	include include/footer
	block script