.c2_l_item
	.c2li_header
		h3 Prize
.c2_l_item
	.c2li_header
		h3 Deadline & Important Date
.c2_l_item
	.c2li_header
		h3 People
.c2_l_item
	.c2li_header
		h3 Recently Proposals
.c2_l_item
	.c2li_header
		h3 Similar contest