extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") Populat competition
		input(type="hidden", value=""+resContestItem._id+"", id="id_contest_de")
		.compet_main
			include contest/banner
			.artCompet
				.in_artCompet
					.boxsea
						.seaData
							label Search
							input(class="ip_seaData", type="text", placeholder="Type a search term and hit Enter...")
						.sl_sortData
							label Sort by
							select(class="default-usage-select")
								option(class="fstOpFlc") Lastest
								option Web Development(5,018)
								option Web Development(5,018)
								option Web Development(5,018)
								option Web Development(5,018)
					.lstCompet
						.objCompet.clearfix
							-	for(var i=0;i<resProposalContest.length;i++)
									.one_objCompet
										if(resProposalContest[i].winner!=undefined && resProposalContest[i].winner==1)
											.icon_winner
										if(user && user._id == resContestItem.user_info.user_id)
											.op_select_optianal_se
												ul
													li 
														if(resProposalContest[i].winner==undefined || resProposalContest[i].winner==0)
															input(type="checkbox", name="proposal_check_optional", class="event_click_choose_winner", value=""+resProposalContest[i]._id+"")
														else
															input(type="checkbox", name="proposal_check_optional", checked, class="event_click_choose_winner", value=""+resProposalContest[i]._id+"")
														span Winner
										p(class="thumb_lstCompet")
											a(href="proposal-detail?id="+resProposalContest[i]._id+"", class="show-img-wall-click")
												if(resProposalContest[i].file_up!=undefined)
													-	var temp = 0
													-	for(var j=0; j<resProposalContest[i].file_up.length;j++)
															if(resProposalContest[i].file_up[j].format.toLowerCase()=="jpg" || resProposalContest[i].file_up[j].format.toLowerCase()=="png")
																-	temp = j
													if(temp!=0)
														img(src='/upload/proposals?type=resize&width=300&height=300&name='+resProposalContest[i].file_up[temp].public_id+'.'+resProposalContest[i].file_up[temp].format+'')
													else
														img(src="http://health.ucsd.edu/images/og-Default.png")
										.over_lstCompet.clearfix
											a(href="", class="name_lstCompet")= resProposalContest[i].user_info.user_name_l+" "+resProposalContest[i].user_info.user_name_f
											ul(class="grp_like clearfix pullFlt_right")
												li
													if(resProposalContest[i].num_like!=undefined)
														a(class="likeCompet")= resProposalContest[i].num_like
													else
														a(class="likeCompet") 00
												li
													if(resProposalContest[i].num_comment!=undefined)
														a(href="", class="cmtCompet")= resProposalContest[i].num_comment
													else
														a(href="", class="cmtCompet") 0
						.pagMore
							if(resNumProposal>12)
								ul(class="pagination")
									-	var num_p = 0;
									if(resNumProposal%12>0)
										-	var num_p = parseInt(resNumProposal/12)+1
									else
										-	var num_p = parseInt(resNumProposal/12)
									li
										a(class="prepag", href="")
									-	for(var i=1; i<=num_p;i++)
											li
												if(i==1)
													a(data-id=""+i+"", data-text="page", class="actpag event_click_search_job", href="javascript:void(0);")= i
												else
													a(data-id=""+i+"", data-text="page", href="javascript:void(0);", class="event_click_search_job")= i
									li
										a(class="nextpag", href="")
block scripts
	script(src='/javascripts/form-validators/jobContestValidator.js')
	script(src='/javascripts/form-validators/proposalContestValidator.js')
	script(src='/javascripts/views/contest_detail.js')
	link(rel='stylesheet', href='/stylesheets/style.css')