extends ../../layout_font_end

block content
	#content
		#contest_detail_view
			.banner_contest
				img(src="/images/allthecrg-banner.jpg")
				.avatar
					img(src="/images/love.jpg")
				.title_contest Design Logo & Business card for Get Job Done.com
				.like_share
					a(href="") Like
					a(href="") Share
				.list_option_su
					.los_item Timeline
					.los_item Cotest Brief
					.los_item Proposals
				.submitssion Submission
			.content_contest
				.c2_left
					.c2_l_item
					.c2_l_item
					.c2_l_item
					.c2_l_item
				.c2_right
				