extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") Populat competition
		.compet_main
			include contest/banner
			.artCompet
				.in_artCompet
					.boxsea
						.seaData
							label Search
							input(class="ip_seaData", type="text", placeholder="Type a search term and hit Enter...")
						.sl_sortData
							label Sort by
							select(class="default-usage-select")
								option(class="fstOpFlc") Lastest
								option Web Development(5,018)
								option Web Development(5,018)
								option Web Development(5,018)
								option Web Development(5,018)
					.lstCompet
						.objCompet.clearfix
							-	for(var i=0;i<16;i++)
									.one_objCompet
										p(class="thumb_lstCompet")
											a(href="")
												img(src="images/thumbComit5.jpg")
										.over_lstCompet.clearfix
											a(href="", class="name_lstCompet") John Doe
											ul(class="grp_like clearfix pullFlt_right")
												li
													a(href="", class="likeCompet") 88
												li
													a(href="", class="cmtCompet") 3
						.pagMore
							ul(class="pagination")
								li
									a(class="prepag", href="")
								li
									a(class="actpag", href="") 1
								li
									a(class="actpag", href="") 2
								li
									a(class="actpag", href="") 3
								li
									a(class="nextpag", href="#")
block scripts
	script(src='/javascripts/form-validators/jobContestValidator.js')
	script(src='/javascripts/form-validators/proposalContestValidator.js')
	script(src='/javascripts/views/contest_detail.js')