extends ../../layout_font_end

block content
	#content
		#banner
			img(src="/images/banner.jpg")
		#popular-competition
			h1 Popular competition
			-	for(var i=0;i<resContests.length;i++)
					a(href="/contestdetail?id="+resContests[i]._id+"&tab=timeline&value="+resContests[i].project_name.replace(/ /g,"-")+"", class="item_pc")
			a(href="/contests", class="view-all-c") View all
		#job-category
			h1 Our jobs database
			#our-jobs
				-	for(var i=0;i<resJobs.length;i++)
						a(href="/jobdetail?id="+resJobs[i]._id+"&name="+resJobs[i].project_name.replace(/ /g,"-")+"", class="oj_item")
				a(href="/jobs", class="view-all-j") View all
			#home_category
				h3 Categories
				a(href="") Design (133)
				a(href="") Php (45)
				a(href="") Drupal (1232)
				a(href="") Teacher (3445)
				a(href="") How are you (34)
				a(href="") What are you? (343)
				a(href="") Hello! (5454)