extends ../../layout_font_end

block content
	#content
		#job-detail
			#job-detail-left
				.email_marketing Email marketing
				.posted
					a(href="") posted: 10 hours ago
					h3 HN, HCM
					a(href="#") 10 proposals
				.addin
					span Adds in (days) 7(closed)
					span Willing to  SPEND
					span $300
					input(type="button", value="SEND PROPOSAL")
				.info-01
					.p-0
						.p-01
						.p-01
						.p-01
						.p-01
						span 3 others already sent a proposal
					.p-like-share-face
						a(href="") Like
						a(href="") Share
				.description-01
					h3 Description
					span I am looking for an Age verification page similar to what is used on sites promoting alcohol (i have attached a couple of screen shots to give you an idea of what i require. The form has to have a country dropdown and depending on which country is selected will determine the minimum age of drinking in the country and validate this against the date of birth supplied. The page/script also has to have a redirect that all site pages are sent to the age verification page until authenticated. 
				.proposal-01
					h3 New Proposal
					.proposal_content
			#job-detail-right
block script
	script(src='/javascripts/views/jobs.js')