extends ../../layout_font_end

block content
	#content
		#job-detail
			#job-detail-left
				.email_marketing Email marketing
				.posted
					a(href="") posted: 10 hours ago
					h3 HN, HCM
					a(href="#") 10 proposals
				.addin
					span Adds in (days) 7(closed)
					span Willing to  SPEND
					span $300
					input(type="button", value="SEND PROPOSAL")
				.info-01
					.p-0
						.p-01
						.p-01
						.p-01
						.p-01
						span 3 others already sent a proposal
					.p-like-share-face
						a(href="") Like
						a(href="") Share
				.description-01
					h3 Description
					span I am looking for an Age verification page similar to what is used on sites promoting alcohol (i have attached a couple of screen shots to give you an idea of what i require. The form has to have a country dropdown and depending on which country is selected will determine the minimum age of drinking in the country and validate this against the date of birth supplied. The page/script also has to have a redirect that all site pages are sent to the age verification page until authenticated. 
				.proposal_comment
				.proposal_form
					h3 New Proposal
					form(method="post", action="/storeProposal", id="form_post_proposal")
						.pf_form
							label You proposal details:
							textarea(name="", id="des_proposal", name="des_proposal")
							.attach_files
								.upload
									input(type="file", id="files_proposal_attach", name="files_proposal[]", multiple="")
							.job_proposal_file_content
							.item_proposal
								table(class="ip_list_item")
									tr
										th(class="item") Item
										th(class="amount") Amount
										th
									tr
										td
											input(type="text", style="width:100%", name="form_proposal_item_name[]", class="item_price_pro")
										td
											input(type="text", style="width:100%", placeholder="0.00", name="form_proposal_item_value[]")
										td
											a(href="javascript:void(0);", class="free_delete_item_proposal") Delete
								.item_pro_default(style="display:none")
									table
										tr
											td
												input(type="text", style="width:100%", name="form_proposal_item_name[]", class="item_price_pro")
											td
												input(type="text", style="width:100%", placeholder="0.00", name="form_proposal_item_value[]")
											td
												a(href="javascript:void(0);", class="free_delete_item_proposal") Delete
							.add_item
								span(class="add_item_span", id="add_item_span_proposal") + add new item
							.bt_submit
								input(type="submit", value="Send", id="bt_submit_form_proposal")
								input(type="hidden", id="contest_post_type", value="0", name="contest_post_type")
								input(type="hidden", id="contest_post_f", value="0", name="contest_post_f")
								input(type="hidden", id="contest_post_r", value="0", name="contest_post_r")
								input(type="hidden", name="job_id", value=""+resJobs._id+"")
								
			#job-detail-right
block script
	script(src='/javascripts/form-validators/proposalValidator.js')
	script(src='/javascripts/views/jobs_detail.js')