extends ../../layout_font_end

block content
	#content
		#job-detail
			#job-detail-left
				.email_marketing Email marketing
				.posted
					a(href="") posted: 10 hours ago
					h3 HN, HCM
					a(href="#") 10 proposals
				.addin
					span Adds in (days) 7(closed)
					span Willing to  SPEND
					span $300
					input(type="button", value="SEND PROPOSAL")
				.info-01
					.p-0
						.p-01
						.p-01
						.p-01
						.p-01
						span 3 others already sent a proposal
					.p-like-share-face
						a(href="") Like
						a(href="") Share
			#job-detail-right
block script
	script(src='/javascripts/views/jobs.js')