extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") Our job database
		.collf_data
			h3(class="titleRtData") CATEGORIES
			.arRtData
				ul(class="ctn_collfin")
					-	for(var i=0; i<resCategories.length;i++)
							if(resCategories[i].numjob!=undefined)
								li
									a(href="")= resCategories[i].name_en
										span= "(" + resCategories[i].numjob + ")"
							else
								li
									a(href="")= resCategories[i].name_en
			.cte_lfin
				h3(class="titleLtData") Job Type
				p(class="ip_lfin")
					input(type="radio", value="Any", id="jobType")
					label(for="jobType") Any
				.frm_ipLf
					p(class="ip_lfin")
						input(type="radio", value="Any", id="fixed", name="local")
						label(for="fixed") Fixed
					.sldFix
						.txtsldFix
							span(class="txtmin") Min
							span(class="txtmax") Max
						#sliderhand.sldLf
				.frm_ipLf
					p(class="ip_lfin")
						input(type="radio", value="Any", id="perhou", name="local")
						label(for="perhou") Per Hour
					.sldFix
						.txtsldFix
							span(class="txtmin") Min
							span(class="txtmax") Max
						#sliderhandPer.sldLf
			.cte_lfin
				h3(class="titleLtData") Working Location
				p(class="ip_lfin")
					input(type="radio", value="Any", id="remote", name="local")
					label(for="remote") Remote
				.frm_ipLf
					p(id="acCheckin", class="ip_lfin")
						input(type="radio", value="Any", id="onsite", name="local")
						label(for="onsite") On site
					ul(class="innFrmLf")
						-	for(var i=0;i<5; i++)
								li(class="ck_lfin")
									input(type="radio", value="Any", id="hcm", name="localsite", parent="onsite")
									label(for="hcm") Ho Chi Minh
			.cte_lfin
				h3(class="titleLtData") Job Status
				p(class="ip_lfin")
					input(type="radio", value="Any", id="all", name="jbStatus")
					label(for="all") All
				p(class="ip_lfin")
					input(type="radio", value="Any", id="open", name="jbStatus")
					label(for="open") Open
				p(class="ip_lfin")
					input(type="radio", value="Any", id="clsoe", name="jbStatus")
					label(for="close") Close
		.colrt_data
			h3(class="titleNobg")
				span “Design”
				| 1165 Job found
			.boxsea
				.seaData
					label Search
					input(class="ip_seaData", type="text", placeholder="Type a search term and hit Enter...")
				.sl_jbStaData
					label Job Status
					select(class="default-usage-select")
						option(class="option") All
						option Web Development(5,018)
						option Video, Photo & Audio(4,424)
						option Sales & Marketing(3,974)
						option Business Support(2,816)
						option Writing & Translation(2,665)
						option Social media(1,622)
				.sl_jbStaData
					label Sort by
					select(class="default-usage-select")
						option(class="option") All
						option Web Development(5,018)
						option Video, Photo & Audio(4,424)
						option Sales & Marketing(3,974)
						option Business Support(2,816)
						option Writing & Translation(2,665)
						option Social media(1,622)
			-	for(var i=0;i<resJobs.length;i++)
					.ctn_ltData
						.avaJbData
							img(src="images/avaPst.jpg", alt="")
						.txtpst
							h4
								a(class="titPst coJob", href="/jobdetail?id="+resJobs[i]._id+"&name="+resJobs[i].project_name.replace(/ /g,"-")+"")= resJobs[i].project_name
							p Oxygen Studio Designs Pte Ltd
							ul(class="lstPst")
								li
									p Min 5 years agency experience
								li 
									p Strong conceptual thinking – both visual and interactive.
								li 
									p Salary will commensurate with education and experience.
							p Skill: 
								span Creativity, Drawing, HTML
						.pcePst
							p(class="mainPce") $18,000,000 VND
							p SING, VN, INDO
						.dtPst
							p 96 Proposal
							p 3 days ago
						.sendPropo
							a(href="", class="btnmore btnPropo") Send proposal
			.pagMore
				ul(class="pagination")
					li
						a(class="prepag", href="")
					li
						a(class="actpag", href="") 1
					li
						a(class="actpag", href="") 2
					li
						a(class="actpag", href="") 3
					li
						a(class="morepag", href="") ...
					li
						a(class="actpag", href="") 23
					li
						a(class="actpag", href="") 24
					li
						a(class="nextpag", href="")