extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") CHOose payment method
		.compet_main
			.artCompet
				.in_artCompet
					.lstCompet
						ul(class="lstPack lspaymnt")
							li(class="conPack")
								input(class="btnUpimg event_click_payment", type="radio", value="baokiem", id="baokiem", name="payment_method")
								input(type="hidden", name="url_payment", value="", id="url_payment", value="https://www.baokim.vn/payment/product/version11?business=duonggiahai89@gmail.com&id=12345&order_description=mo_ta_san_pham&product_name=tensanpham&product_price=12000000&product_quantity=12&total_amount=144000000&url_cancel=duongdanhuythanhtoan&url_detail=&url_success=duongdanthanhtoanthanhcong")
								.ctnFurPack
									.icolstPack
										img(src="images/paynl.jpg")
									.txtPack
										h5(class="fntMd") Nganluong.vn
										p Career development opportunities
											br
											| Remuneration package for right candidate
							li(class="conPack")
								input(class="btnUpimg event_click_payment", type="radio", , value="paypal", id="paypal", name="payment_method")
								.ctnFurPack
									.icolstPack
										img(src="images/paypl.jpg")
									.txtPack
										h5(class="fntMd") Paypal
										p Career development opportunities
											br
											| Remuneration package for right candidate
							li(class="conPack")
								input(class="btnUpimg event_click_payment", type="radio", value="cod", id="cod", name="payment_method")
								.ctnFurPack
									.icolstPack
										img(src="images/paycd.jpg")
									.txtPack
										h5(class="fntMd") COD
										p Career development opportunities
											br
											| Remuneration package for right candidate
							li(class="toltalPay")
								h3(class="fntBd") Amount to spend
								span(class="ctnPricePk fntBd")= (parseInt(resContestItem.budget) + parseInt(resContestItem.bonus_price)) + (((parseInt(resContestItem.budget) + parseInt(resContestItem.bonus_price))*resSettings.tax)/100)
									sup(class="untPk")= resContestItem.currency_name
								p (included 10% VAT)
								form(action="/payments_redirect", method="POST", id="payment-select")
									input(type="hidden", value=""+resContestItem._id+"", name="id_contest")
									input(type="hidden", value="", name="type_payment", id="form_type_payment-tf")
									button(class="fntBd btnsubmit btnget", type="submit", id="bt_form_submit_payment") Deposit money
	block scripts
	script(src='/javascripts/form-validators/paymentValidator.js')
	script(src='/javascripts/views/payment.js')