extends ../../layout_font_end

block content
	.container
		h2(class="titleMtnIn") Duong Gia Hai's Profile
		.compet_main
			.artCompet
				.in_artCompet
					.lstCompet.aCsup
						.f_statis_info
							.fsi_tab
								a(href="Freelancer", id="fsi_freelancer", class="ft_selected") Freelancer
								a(href="Employer", id="fsi_employer") Employer
							h2 Reputation
							h2(style="margin-top:5px; font-size:22px") 4.5
							.list_star
								i
								i
								i
								i
								i
							label (60 reviews)
							.bt_see_more
						.f_img
							img(src="images/228x190.jpg")
							.change_pick_profile_up
								label Change picture
									input(id="photoimg-contest-banner", type="file", name="photos")
						.f_info
							.fi_item
								h2 Duong Gia Hai
							.fi_item
								p Design Website
							.fi_item
								label A perfect blend of creativity, energy, communication, clarity and restraint.
				.in_artCompet
					.lstCompet.ia_sub_ba_co
						.ial_left
							h2(class="il_h2") Summary
							p(class="il_p") The two length or percentage values of the border-top-left-radius properties define the radii of a quarter ellipse that defines the shape of the corner of the outer border edge. The first value is the horizontal radius, the second the vertical radius. If the second value is omitted it is copied from the first. If either length is zero, the corner is square, not rounded. Percentages for the horizontal radius refer to the width of the border box, whereas percentages for the vertical radius refer to the height of the border box.
						.ial_right
							ul
								li(class="li_ial_selected")
									a(href="") Overview
								li
									a(href="") Feedback
								li
									a(href="") Portfolio
								li
									a(href="") Resume
								li
									a(href="") Exans & Skills
								li
									a(href="") Contest Award
								li
									a(href="") Subcribed Post
								
							
					
block scripts
	script(src='/javascripts/views/profile.js')