.container
	h2(class="titleMtn") 10,000+ businesses have already said hello!
	.cnPle
		-	for(var i=0; i<3; i++)
				.lstPle
					label(class="avaPle")
						img(src="images/thumb4.jpg")
					h5 Andrew Garcia
					span CEO of Cocacola Inc
					p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					a(href="", class="btnmore btnPmore") view all