.container
	h2(class="titleMtn") Freelancer Services
	.cateFlc
		.tpFlc
			label(class="lbFlc") Categories:
			select(class="slcFlc default-usage-select")
				option(class="fstOpFlc") All (13,789)
				option Web Development(5,018)
				option Video, Photo & Audio(4,424)
				option Sales & Marketing(3,974)
				option Business Support(2,816)
				option Writing & Translation(2,665)
				option Social media(1,622)
		.ctnFlc
			ul(class="lstFlc")
				-	for(var i=0; i<resHourlies.length; i++)
						li
							p(class="thumbFlc")
								img(src="images/thjb.jpg")
							.hvFlc
								a(href="/hourliedetail?id="+resHourlies[i]._id+"&value="+resHourlies[i].project_name.replace(/ /g,"-")+"")
									p(class="avaFlc")
										img(src=""+resHourlies[i].user_info.user_av+"")
									h5= resHourlies[i].project_name
									p I design your logo with beautiful images and ...
									span 9,000,000 VND
		.vMore
			a(href="/hourlies", class="btnmore") View more