.pageMtn
	.container
		.ctnStp
			h2(class="titleMtn") 3 EASY STEPS TO GET YOUR JOB DONE
			.inStp
				a(href="#")
					span(class="thumbStpOne")
					span TELL US WHAT YOU NEED
				a(href="#")
					span(class="thumbStpTwo")
					span WE SEND IT TO CURATED EXPERTS
				a(href="#")
					span(class="thumbStpThree")
					span JOB DONE!