extends ../../layout_admin

block content
	.row
		.col-lg-12
			h1(class="page-header")= resCategory.name_en
	.row
		.col-lg-12
			.panel.panel-default
				.panel-heading
					button(type="button", class="btn btn-primary", id="event_add_category_sub", data-id=""+resCategory._id+"") Add item
				#form_category_sub.panel-heading(style="display:none")
				.panel-body
					.table-responsive
						table(class="table table-striped table-bordered table-hover", id="category_sub-table")
							thead
								tr
									th ID
									th Name
									th Option
							tbody
								if(resCategory.items!=undefined)
									-	for(var i=0; i<resCategory.items.length;i++)
											tr(class="odd gradeX")
												td= resCategory.items[i].id
												td= resCategory.items[i].name
												td(class="center")
													button(type="button", class="btn btn-warning btn_delete_category_sub btn-circle", data-id-ca=""+resCategory._id+"", data-id=""+resCategory.items[i].id+"", style="margin-right:5px")
														i(class="fa fa-times")
													button(type="button", class="btn btn-primary btn-circle")
														i(class="fa fa-list")
block script
	script(src='/plugin/admin/js/categories.js')