extends ../../layout_admin

block content
	.row
		.col-lg-12
			h1(class="page-header") All skills
	.row
		.col-lg-12
			.panel.panel-default
				.panel-heading
					button(type="button", class="btn btn-primary", id="event_add_skill") Add skill
				#form_skill.panel-heading(style="display:none")
				.panel-body
					.table-responsive
						table(class="table table-striped table-bordered table-hover", id="skill-table")
							thead
								tr
									th Contest name
									th Date add
									td Status
									td Action
							tbody
								-	for(var i=0; i<resItem.length;i++)
										tr(class="odd gradeX")
											td= resItem[i].project_name
											td= resItem[i].date_add
											td
												if(resItem[i].status==1)
													button(type="button", class="btn btn-info btn-circle")
														i(class="fa fa-check")
												else
													button(type="button", class="btn btn-default btn-circle")
														i(class="fa fa-check")
											td
												form(method="post", action="/change_status_contest", class="xxx")
													input(type="hidden", name="id_contest", class="id_contest", value=""+resItem[i]._id+"")
													select(class="form-control change_status_option_contest")
														option ------------
														option(value="0") Hidden
														option(value="1") Show
block scripts
	script(src='/plugin/admin/js/contests.js')