extends ../../layout_admin

block content
	.row
		.col-lg-12
			h1(class="page-header") All Locations
	.row
		.col-lg-12
			.panel.panel-default
				.panel-heading
					button(type="button", class="btn btn-primary", id="event_add_location") Add location
				#form_location.panel-heading(style="display:none")
				.panel-body
					.table-responsive
						table(class="table table-striped table-bordered table-hover", id="location-table")
							thead
								tr
									th Location name
									th Icon
									th Lat
									th Lon
									th Option
							tbody
								-	for(var i=0; i<resLocation.length;i++)
										tr(class="odd gradeX")
											td= resLocation[i].lo_name
											td= resLocation[i].lo_flag
											td= resLocation[i].lo_lat
											td= resLocation[i].lo_lon
											td(class="center")
												button(type="button", class="btn btn-warning btn_delete_location btn-circle", data-id=""+resLocation[i]._id+"", style="margin-right:5px")
													i(class="fa fa-times")
												button(type="button", class="btn btn-primary btn-circle")
													i(class="fa fa-list")
block scripts
	script(src='/plugin/admin/js/locations.js')