li(class="ctn_lstPstCmt clearfix")
	.avaJbData
		a(href="")
			img(src=""+document.user_avatar+"")
	.naPst.txtpst
		.auCmtpPst
			span 
				a(href="", class="titPst clBle")= document.full_name+ " "
			span(class="fntMd", style="margin-left:5px")= document.content
		.timePst
			span 1 hours ago