.img_poup_left
	.ipl_img
		if(resProItem.file_up!=undefined)
			-	var temp = ''
			-	for(var i=0; i<resProItem.file_up.length;i++)
					if(resProItem.file_up[i].format=="jpg" || resProItem.file_up[i].format=="png")
						-	temp = i
			if(temp!='')
				img(src='/upload/proposals?type=normal&width=null&height=null&name='+resProItem.file_up[temp].public_id+'.'+resProItem.file_up[temp].format+'')
.img_poup_right
	.closeTheater
	.ipr_info_normal
		.fbPhotoSnowliftAuthorPic
			img(src=""+resProItem.user_info.user_av+"")
		.fbPhotoContributorName
			a(href="#",class="pp-tooltip-user-fpcn", style="cursor: pointer;")= resProItem.user_info.user_name_l+" "+resProItem.user_info.user_name_f
			span
				.fbDriver Đang theo dõi . 16 phút trước qua di động
	.ipr_des_normal
	if(user)
		.ipr_option_normal
			if(resProItem.list_like!=undefined)
				-	var temp_like = 0
				-	for(var i=0; i<resProItem.list_like.length; i++)
						if(resProItem.list_like[i].user_id==user._id)
							temp_like = 1
				if(temp_like==0)
					a(href="like", class="UFILikeLink", id="blEventLikeProposal", data-id=""+resProItem._id+"") Like
			else
				a(href="like", class="UFILikeLink", id="blEventLikeProposal", data-id=""+resProItem._id+"") Like
			a(href="", class="UFILikeLink blToggleFormComment") Comment
	.ipr_list_comment_normal
		if(resProItem.list_comment!=undefined)
			-	for(var i=0; i<resProItem.list_comment.length; i++)
					.UFIRow
						a(href="", class="UFIRowImgStatus")
							img(src=""+resProItem.list_comment[i].user_info.user_av+"")
						.UFIRowImg
							a(href="", class="ufiriNameUser")= resProItem.list_comment[i].user_info.user_name_l +" "+resProItem.list_comment[i].user_info.user_name_f
							span(class="ufiriComment")= resProItem.list_comment[i].text
							.drivertime
								a(href="", class="driver") 24 minutes ago
	if(user)
		.ipr_comment_normal
			.UFIArrow
			img(src=""+user.avatar+"", class="icn-comment")
			.UFIArrowText
				form(id="comment-image-form-proposal", method="post", action="/comment_proposal_post")
					textarea(name="content_comment_proposal", placeholder="What are you want to say?", class="textInput UFIAddCommentInput", style="overflow: hidden; word-wrap: break-word; resize: none; height: 25px;")
					input(type="submit", id="bt_submit_comment_proposal", style="display:none")
					input(type="hidden", name="id_proposal", value=""+resProItem._id+"")