tr(class="odd gradeX")
	td= resItem.id
	td= resItem.name
	td(class="center")
		button(type="button", class="btn btn-warning btn_delete_category_sub btn-circle", data-id=""+resItem.id+"", style="margin-right:5px")
			i(class="fa fa-times")
		button(type="button", class="btn btn-primary btn-circle")
			i(class="fa fa-list")