.row
	.col-lg-6
		form(role="form", method="post", action="/store_currency", id="form_admin_currency_add", enctype="multipart/form-data;utf-8")
			.form-group
				lable Name
				input(class="form-control", name="admin_currency_name")
			.form-group
				lable Value
				input(class="form-control", name="admin_currency_value", value="1")
			.form-group
				lable Title
				input(class="form-control", name="admin_currency_title")
			.form-group
				lable Is default
				input(class="form-control", name="admin_currency_is_default")
			.form-group
				lable Rank
				input(class="form-control", name="admin_currency_rank")
			.form-group
				lable Rate USD
				input(class="form-control", name="admin_currency_rateusd")
			input(type="submit", class="btn btn-default", value="Submit Button", id="bt_admin_currency_submit")